html {
  font-family: Arial, Helvetica, sans-serif;
}

thead {
  background-color: lightblue;
}

table {
  background-color: paleturquoise;
}

.submit {
  text-align: center;
}

h1 {
  text-align: center;
}

form {
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
}

input[type="number"] {
  text-align: right;
  width: 30%;
}

.input {
  text-align: right;
}
